<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SA2506029_Automation"/>
    <listAttribute key="org.testng.eclipse.SUITE_TEST_LIST">
        <listEntry value="/Volumes/Renuka/Professional Stuff (Restricted)/Session_material/Session_WorkSpaces/Automation_SA2506029/SA250629_WebDriver/SA2506029_Automation/XML03ExecutesTestcasesFromMultipleClasses.xml"/>
    </listAttribute>
    <intAttribute key="org.testng.eclipse.TYPE" value="3"/>
</launchConfiguration>
